<li class="media">
    <div class="post-comment">
        <a class="pull-left">
<!--             <img class="media-object" src="{/static/images/blogdetails/2.png}" alt="">
 -->            <img class="media-object" width ="145" height="120" src="{{ object.user.get_profile.avatar.url}}" alt="">

        </a>
        <div class="media-body">
            <span><i class="fa fa-user"></i>Posted by <a href="#">
            {% if object.user %}
                <p> {{ object.user.username }} </p>
            {% else %}
                <p>Guest </p>
            {% endif %}</a></span>
            <p id='comment-{{ object.id }}'> {{ object.comment|safe }} </p>
            <ul class="nav navbar-nav post-nav">
                <li><a href="#"><i class="fa fa-clock-o"></i>{{ object.created_at }}</a></li>
            </ul>
        </div>
    </div>
</li>



<!--  <p id='comment-{{ object.id }}'> {{ object.comment }} </p>
 <div id="comment-edit-{{ object.id }}" hidden>
	{% include "comments/comment_edit_form.html" with pk=object.id form=form %}
</div>
 <p>{{ object.created_at }}</p>

 <p id="likes-count-{{ object.id }}" >Likes: {{ object.likes_count }}</p>

{% if object.user %}
	<p>By: {{ object.user.username }} </p>
{% else %}
	<p>By: Guest </p>
{% endif %}

{% if object.user %}
	{% if object.user.id == user.id %}
		<form class="comment-delete-form" method='DELETE' action="{% url "comment-delete" object.pk %}">
			<input value="{% csrf_token %}" id="csrf" hidden>
			{% csrf_token %}
			<input type="submit" value="Delete" class="comment-delete-btn" data-id="{{ object.id }}"/>
		</form>
	{% endif %}
{% endif %}

{% if object.user %}
	{% if object.user.id == user.id %}
		<button class='comment-edit-class' data-id='{{ object.id }}'> Edit</button>	
	{% endif %}
	<br>
{% endif %}

{% if allow_likes %}	
	{% if liked %}

		<button class="like-comment-btn" id="like-btn-{{ object.id }}" data-like="liked" data-id="{{ object.id }}">Unlike</button>	

	{% else %}

		<button class="like-comment-btn" id="like-btn-{{ object.id }}" data-like="like" data-id="{{ object.id }}">Like</button>
		
	{% endif %}	
{% endif %} -->