{% extends "main/base.html" %}
{% load i18n %}
{% load postman_tags %}
{% load static %}

{% block title %}  {% trans "Messaging" %} {% endblock title %}

{% block action %}  
    {% trans "Messaging" %}
{% endblock action %}

{% block content %}  
    <section id="portfolio-information" class="padding-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    <div class="contact-form bottom">
							<ul id="postman_menu">{% postman_unread as unread_count %}
								 <li><a href="{% url 'postman:inbox' %}">&raquo;&nbsp;{% trans "Inbox" %}{% if unread_count %} <strong>({{ unread_count }})</strong>{% endif %}</a></li>
								 <li><a href="{% url 'postman:sent' %}">&raquo;&nbsp;{% trans "Sent Messages" %}</a></li>
								 <li><a href="{% url 'postman:write' %}">&raquo;&nbsp;{% trans "Write" %}</a></li>
								 <li><a href="{% url 'postman:archives' %}">&raquo;&nbsp;{% trans "Archives" %}</a></li>
								 <li><a href="{% url 'postman:trash' %}">&raquo;&nbsp;{% trans "Trash" %}</a></li>
							</ul>
                    </div>
                </div>            
                <div class="col-sm-7">
                    {% block postman-content%}
                    {% endblock postman-content%}
                </div>
            </div>
        </div>
    </section>
{% endblock content %}  


{% block script %} 
	{% block extrahead %}{{ block.super }}
	<link type="text/css" media="all" rel="stylesheet" href="
	{# dj v1.4 #}{% load static %}{% static 'postman/css/postman.css' %}
	{# dj v1.3 #}{# {{ STATIC_URL }}postman/css/postman.css #}
	{# dj v1.2 #}{# {{ MEDIA_URL }}postman/css/postman.css #}
	" />
	{% endblock %}
{% endblock script %}