<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="http://kareemtarek4.github.io/SoCar/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://kareemtarek4.github.io/SoCar/static/css/font-awesome.min.css" rel="stylesheet"> 
    <link href="http://kareemtarek4.github.io/SoCar/static/css/main.css" rel="stylesheet">
    <link href="http://kareemtarek4.github.io/SoCar/static/css/responsive.css" rel="stylesheet">

    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="http://kareemtarek4.github.io/SoCar/static/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://kareemtarek4.github.io/SoCar/static/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://kareemtarek4.github.io/SoCar/static/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://kareemtarek4.github.io/SoCar/static/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="http://kareemtarek4.github.io/SoCar/static/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->
<body>
    <section id="error-page">
        <div class="error-page-inner">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="text-center">

                       <div class="action">
                            <h2> Trip named {{trip.name}}, offered by {{trip.driver.username}} has been DISMISSED </h2>
                             <div class="bg-404">
                               <div class="error-image">                                
                                        <img class="img-responsive" src="http://kareemtarek4.github.io/SoCar/static/images/the_end.jpg" alt="">  
                                </div>
                            </div>
                            <h3> The following statistics contrasts carpooling with individual driving in a one month interval: </h3>
                        </div>
                            <div class="project-info overflow">
                                <ul class="elements">
                                    <h3> <li><i class="fa fa-angle-right"></i>Round trip's cost (without Carpooling): {{conc_trip_month_alone}} EGP </li> </h3><br>
                                     <h3><li><i class="fa fa-angle-right"></i>Rounds trip's cost (with Carpooling): {{conc_trip_month_carpool}} EGP </li></h3><br>
                                    <h3> <li><i class="fa fa-angle-right"></i>Harmful gases emitted(without Carpooling): {{conc_trip_gas_alone}} Pounds </li></h3><br>
                                    <h3> <li><i class="fa fa-angle-right"></i>Harmful gases emitted (with Carpooling): {{conc_trip_gas_carpool}} Pounds </li> </h3> <br>
                                </ul>
                            </div>
                            <h3> <a href="http://juniorgeorgy.webfactional.com/"> Now it's your turn to offer a trip</a> </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript" src="http://kareemtarek4.github.io/SoCar/static/js/jquery.js"></script>
    <script type="text/javascript" src="http://kareemtarek4.github.io/SoCar/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://kareemtarek4.github.io/SoCar/static/js/wow.min.js"></script>
    <script type="text/javascript" src="http://kareemtarek4.github.io/SoCar/static/js/main.js"></script>

</body>
</html>