<div class="row well">
    <ul class="list-group " style="height:400px;overflow-y:scroll">
        {% for user in object_list  %}
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-2">
                    <img class="media-object" src="/static/images/home/images/user-1.png" alt="">
                </div>
                <div class="col-sm-6">
                    <h5>{{user.username}}</h5>
                    <h5>{{user.email}}</h5>
                    <h5> Joined {{user.date_joined}}</h5>
                    <span><a href="/profile/{{user.id}}/">Check {{user.username}}'s Profile </a></span>
                </div>
            </div>  
            <br><br>
        </li>
        {% endfor %}

    </ul>
</div>