<section id="blog" class="padding-bottom">
    <div class="container">
        <div class="row">
            <div class="timeline-blog overflow">
                <div class="timeline-divider overflow padding-bottom">
                    {% for trip,not_guest in my_trip_guest_zip  %}
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-sm-6 padding-left padding-top arrow-left wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="300ms">
                        {% else %}
                             <div class="col-sm-6 padding-right arrow-right wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="300ms">
                        {% endif %}
                            <div class="single-blog timeline">
                                <div class="single-blog-wrapper">
                                    <div class="post-thumb">
                                        <div class="main-slider animate-in">
                                            <img src="/static/images/home/images/trip-anime-4.jpg" class="slider-hill-house" alt="slider image">
                                        </div>
                                        <div class="post-overlay">
						                   <span class="uppercase"><a href="#">{{trip.date.day}}</span>
						               	</div>
                                    </div>
                                </div>
                                <div class="post-content overflow">
                                    <h2 class="post-title bold"><a href="blogdetails.html">{{trip.name}}</a></h2>
                                    <ul class="elements">
                                                <li><i class="fa fa-angle-right"></i> From: {{trip.source_area}} </li>
                                                <li><i class="fa fa-angle-right"></i> To: {{trip.destination_area}} </li>
                                                <li><i class="fa fa-angle-right"></i> Driver: {{trip.driver.username}}  </li>
                                                <li><i class="fa fa-angle-right"></i> Date: {{trip.date}} </li>
                                                <li><i class="fa fa-angle-right"></i> Time: {{trip.time}} </li>
                                    </ul>
                                    {% if trip.driver.id == user.id  %}
                                        <a href='{% url "trip-update" trip.id%}'>Settings</a> &nbsp

                                        {% if trip.relevant_group %}
                                            <a href='{% url "group-detail" trip.relevant_group.id %}'> Closed Group </a>
                                        {% endif  %}                                        
<!--                                    <a href='{% url "trip-delete" trip.id%}'>End</a>
 -->                                {% endif %}
<!--                                     <a href='{% url "trip-detail" trip.id%}'> View route </a> <br><br>
                                        
                                         -->                                    
                                         <div class="post-bottom overflow">
                                        <span class="comments-number pull-right"><a href="#"> Remaining Guests: {{trip.guests}}</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>               
                    {% endfor %}                  
                </div>
            </div>
        </div>
    </div>
</section>
<!--/#blog-->