<section id="blog" class="padding-bottom">
    <div class="container">
        <div class="row">
            <div class="timeline-blog overflow">
                <div class="timeline-divider overflow padding-bottom"> 
                {% for trip,not_guest in trip_guest_zip  %}
                    <div id="myModal{{trip.id}}" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                        <!-- Modal content-->
                            <div class="modal-content" style="height:250px;overflow-y:scroll">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">×</button>
                                <h4 class="modal-title">Trip's ongoing participants</h4>
                              </div>
                              <div class="modal-body ">
                                {% for user in trip.retrieve_guest_list %}
                                    {{user.username}}
                                     <br> <br>
                                 {% empty %}
                                    There are no participants yet
                                {% endfor %}
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                              </div>
                            </div>
                        </div>
                    </div>
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-sm-6 padding-left padding-top arrow-left wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="300ms">
                        {% else %}
                             <div class="col-sm-6 padding-right arrow-right wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="300ms">
                        {% endif %}
                            <div class="single-blog timeline">
                                <div class="single-blog-wrapper">
                                    <div class="post-thumb">
                                        <div class="main-slider animate-in">
                                            <img src="/static/images/home/images/trip-anime-2.jpg" class="slider-hill-house" alt="slider image">
                                        </div>
                                        <div class="post-overlay">
                               <span class="uppercase"><a href="#">{{trip.date.day}}</span>
                            </div>
                                    </div>
                                </div>
                                <div class="post-content overflow">
                                    <h2 class="post-title bold"><a href="blogdetails.html">{{trip.name}}</a></h2>
                                    <ul class="elements">
                                                <li><i class="fa fa-angle-right"></i> From: {{trip.source_area}} </li>
                                                <li><i class="fa fa-angle-right"></i> To: {{trip.destination_area}} </li>
                                                <li><i class="fa fa-angle-right"></i> Driver: {{trip.driver.username}}  </li>
                                                <li><i class="fa fa-angle-right"></i> Date: {{trip.date}} </li>
                                                <li><i class="fa fa-angle-right"></i> Time: {{trip.time}} </li>
                                                {% if trip.restrict_to_women %} 
                                                <li><i class="fa fa-angle-right"></i>Women only; Trip is only restricted to women</li>
                                                {% endif%}
                                    </ul>
                                    {% if not_guest and not_guest != trip.driver %}
                                        {% if trip.restrict_to_women %}
                                            {% if current_user.get_gender == 1 %}
                                            <form action="" method="POST" class="guest-form{{trip.id}}">
                                                {% csrf_token %}
                                                <select id="id_guest" name="guest" hidden>
                                                  <option value="{{not_guest.id}}" selected="selected" ></option>
                                                </select>
                                                <select id="id_trip" name="trip" hidden>
                                                  <option value="{{trip.id}}" selected="selected" ></option>
                                                </select>
                                                {% if trip.guests != 0 %}
                                                  <input   class="btn btn-lg btn-primary" id="join-trip-button{{trip.id}}" type="button" value="Request to Join Trip" name="join-trip-button"  object="{{trip.id}}"/> <br><br>
                                                {% endif %}
                                          </form>
                                            {% endif %}                                         
                                        {% else %}
                                            <form action="" method="POST" class="guest-form{{trip.id}}">
                                            {% csrf_token %}
                                            <select id="id_guest" name="guest" hidden>
                                              <option value="{{not_guest.id}}" selected="selected" ></option>
                                            </select>
                                            <select id="id_trip" name="trip" hidden>
                                              <option value="{{trip.id}}" selected="selected" ></option>
                                            </select>
                                            {% if trip.guests != 0 %}
                                              <input   class="btn btn-lg btn-primary" id="join-trip-button{{trip.id}}" type="button" value="Request to Join Trip" name="join-trip-button"  object="{{trip.id}}"/> <br><br>
                                            {% endif %}
                                          </form>
                                        {% endif %}
                                    {% endif %}
                                    <a href='{% url "trip-detail" trip.id%}'> View route </a> &nbsp
                                    <a href='#' id="guest_preview" object="" data-toggle="modal" data-target="#myModal{{trip.id}}">View Guests</a> 
                                    {% if current_user.id in trip.all_participants and trip.relevant_group %}
                                       <a href='{% url "group-detail" trip.relevant_group.id %}'> Closed Group </a>
                                    {% endif %}
                                    <div class="post-bottom overflow">
                                        <span class="comments-number pull-right"><a href="#"> Remaining Guests: {{trip.guests}}</a></span>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!--/#blog-->
<!-- 

 {% for participant in trip.all_participants %}                                        
                                        {% if participant.id == current_user.id %}
                                            PART 
                                        {% endif %}
                                    {% endfor %} -->