<!DOCTYPE html>
{% extends "main/base.html"%}
{% load static %}

{% block title %} Personal Profile {% endblock title %}

{% block action %}  
    Personal Profile
{% endblock action %}

{% block extra_action %}  
    We will use your current location to find people near you
{% endblock extra_action %}


{% block content %} 
    <section id="portfolio-information" class="padding-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-6" style="border-right: 2px solid #555">
                {% if object.avatar %}
                  <p> <img weight ="150" height="250"  src="{{object.avatar.url}}"  alt="" /> </p> <br>
                {% else %}
                  {% if user.get_gender == 0 %}
                    <p> <img weight ="150" height="250"  src="/media/profile/john-doe.jpg"  alt="" /> </p> <br>
                  {% else %}
                     <p> <img weight ="150" height="250"  src="/media/profile/girl.jpg"  alt="" /> </p> <br>
                  {% endif %}
                {% endif %}
                  <div class="project-name overflow">
                        <h2 class="bold">{{object.user.username}}</h2>
                        <ul class="nav navbar-nav navbar-default">
                            <li><a href="#"><i class="fa fa-clock-o"></i>Joined {{user.date_joined}}</a></li>
                        </ul>
                  </div>
                  <div class="project-info overflow">
                        <ul class="elements">
                            <li><i class="fa fa-angle-right"></i>Name: {{object.user.username}}  </li>
                            <li><i class="fa fa-angle-right"></i>Email: {{object.user.email}}</li>
                            <li><i class="fa fa-angle-right"></i>Bio: {{object.bio}} </li>
                            <li><i class="fa fa-angle-right"></i>Gender: {{object.gender}} </li>
                            <li><i class="fa fa-angle-right"></i>Car: {{object.car}} </li>
                            <li><i class="fa fa-angle-right"></i>Lives in: <input id="input" maxlength="256" name="input" type="text" style="width: 80%;border: 0px solid;" value="" readonly> </li>
                        </ul>
                  </div>
                  <br>
                  <div class="live-preview">
                  {% if object.user.id == user.id %}
                     <input type="button" object= "{{object.user.id}}" name="update-profile-button" class="btn btn-default uppercase" value="Edit Profile" />
                     <input type="button"  name="update-location-button" class="btn btn-default uppercase" value="Edit Location" />
                  {% endif %}                  
                  </div>
                </div>
              <div class="col-sm-6 test">
                <div class="profile-form">
                </div>

              </div>
               <div class="col-sm-6">
                  <div class="contact-form bottom">
                    <input id="pac-input" class="controls" type="text" placeholder="Where Do You Live">
                    <div id="map"></div>
                    <style>
                        html, body, #map {
                        height: 500px;
                        margin: 0px 0px 0px 0px;
                        padding: 0px 0px 0px 5px;
                        width: 100%;
                        }
                        .controls {
                        margin-top: 10px;
                        border: 1px solid transparent;
                        border-radius: 2px 0 0 2px;
                        box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        height: 32px;
                        outline: none;
                        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
                        }
                        #pac-input {
                        background-color: #fff;
                        font-family: Roboto;
                        font-size: 15px;
                        font-weight: 300;
                        margin-left: 12px;
                        padding: 0 11px 0 13px;
                        text-overflow: ellipsis;
                        width: 300px;
                        }

                        #pac-input:focus {
                        border-color: #4d90fe;
                        }

                        .pac-container {
                        font-family: Roboto;
                        }

                        #type-selector {
                        color: #fff;
                        background-color: #4d90fe;
                        padding: 5px 11px 0px 11px;
                        }

                        #type-selector label {
                        font-family: Roboto;
                        font-size: 13px;
                        font-weight: 300;
                        }
                        #target {
                        width: 345px;
                        }

                        #button {
                            margin-top: 0px;
                        }

                    /*        #map {
                            margin-left: 150px;*/
                    </style>
                    <br> 
                    <form method="post" action="{% url "location-update" user.id%}">
                            {% csrf_token %}
                            {{ location_form.as_p }}
                            <input  type="submit" value="Update"  class="btn btn-common uppercase"  />
                          </form>              
                    </div>
                </div>    
            </div>
        </div>
    </section>
     <!--/#portfolio-information-->
{% endblock content %}

{% block script %}
{% if object.user.id == user.id %}
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlkHz8nwNGtbzLgpLU8yGcrG8KIEwv07s&libraries=places"   ></script>
  <script src="{% static 'js/google-maps/maps-sign-up.js' %}" async  ></script>
  <script src="{% static 'js/ajax/update-profile.js' %}"></script>
{% endif %}
{% endblock script%}