{% for request in requests  %}
    <div class="row">
        <div class="col-sm-2">
            <img class="media-object" src="/static/images/home/images/user-2.png" alt="">
        </div>
        <div class="col-sm-10">
            <h3>{{request.guest.username}}</h3>
            <h3>{{request.guest.email}}</h3>
            <span><a href="/profile/{{request.guest.id}}/">Check Profile </a></span>
            <span> 
                <form action="" method="POST"  class="participant-form{{request.guest.id}}" >
                    {% csrf_token %}
                    <select id="id_guest" name="guest" hidden>
                        <option value="{{request.guest.id}}" selected="selected" ></option>
                    </select>
                    <select id="id_trip" name="trip" hidden>
                        <option value="{{request.trip.id}}" selected="selected" ></option>
                    </select>
                    <input  id="accept-request-button{{request.guest.id}}"  name="participant-button"  type="button" value="Accept"  class="btn btn-sm btn-primary"  object="{{request.guest.id}}" trip="{{request.trip.id}}"/>
                    <input  id="reject-request-button{{request.guest.id}}"  name="participant-button" type="button" value="Reject" class="btn btn-sm btn-danger"  object="{{request.guest.id}}" trip="{{request.trip.id}}"/>
                </form>
            </span>
        </div>
    </div>
    <br><br>
{% endfor %}