{% for instance in participants %}
    <div class="row">
        <div class="col-sm-2">
            <img class="media-object" src="/static/images/home/images/user-2.png" alt="">
        </div>
        <div class="col-sm-10">
            <h3> <a href="/profile/{{instance.guest.id}}/"> {{instance.guest.username}} </a> </h3>
            <h3>{{instance.guest.email}}</h3>
            <form action="" method="POST"  class="participant-form{{instance.guest.id}}" >
                {% csrf_token %}
                <select id="id_guest" name="guest" hidden>
                    <option value="{{instance.guest.id}}" selected="selected" ></option>
                </select>
                <select id="id_trip" name="trip" hidden>
                    <option value="{{instance.trip.id}}" selected="selected" ></option>
                </select>
                <input  id="remove-participant-button{{instance.guest.id}}"  name="participant-button" type="button" value="Remove" class="btn btn btn-danger"  object="{{instance.guest.id}}" trip="{{instance.trip.id}}"/>
            </form>
        </div>
    </div>
    <br>
    <br><br>  
{% endfor %}

    