<!DOCTYPE html>
<html>
<head>
	<title>Change Password</title>
</head>
<body>
	<form method="post" action="">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value"Change Password">
	</form>
</body>
</html>